{{!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">

    <div class="logo">
      <img src="http://img14.deviantart.net/b825/i/2010/204/a/9/simple_vector_art__piranha_by_jack_y_zhang.png" />
    </div>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><a href="#">Right Button Active</a></li>
      <li class="divider"></li>
      <li class=""><a href="#">Right Button Active</a></li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>
    <ul class="social-icons">
      <li><a href=""><i class="fi-telephone"></i></a></li>
      <li><a href=""><i class="fi-social-linkedin"></i></a></li>
      <li><a href=""><i class="fi-social-twitter"></i></a></li>
      <li><a href=""><i class="fi-social-facebook"></i></a></li>
    </ul>

  </section>
</nav> --}}

<div class="hero-header"></div>

<div class="menu-container"></div>
